*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.top{
	width: 100%;
	height: 62px;
	position: fixed;
	top: 0;
	left: 0;
}
#bgc{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	box-shadow: 0px 1px 5px #eaeaea;
	background-color: #fff;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.top img{
	position: absolute;
	top: 12px;
	left: 40px;
	width: 120px;
	height: 40px;
}
.top_right{
	position: absolute;
	width: 520px;
	height: 62px;
	top: 0;
	right: 30px;
}
.top_right a{
	float: right;
	text-decoration: none;
	color: #999;
	font-size: 14px;
	line-height: 62px;
	margin-right: 35px;
}
#join{
	width: 96px;
	height: 32px;
	background-color: #00c0ff;
	color: #fff;
	margin-top: 15px;
	line-height: 32px;
	border-radius: 16px;
	text-align: center;
}
.top_right a:hover{
	color: #00cbff;
}
.about{
	float: right;
	color: #00cbff;
	width: 62px;
	font-size: 14px;
	line-height: 62px;
	cursor: pointer;
}
.what{
	position: absolute;
	box-shadow: 2px 5px 5px #eaeaea;
	width: 170px;
	height: 147px;
	border-top: 3px solid #00c0ff;
	top: 90px;
	left: 192px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	background-color: #fff;
}
.about:hover .what{
	visibility: initial;
	opacity: 1;
	top: 62px;
}
.what a{
	float: left;
	font-size: 12px;
	border-top: 1px solid #e8e8e8;
	width: 170px;
	height: 49px;
	margin-right: 0;
	line-height: 49px;
	text-indent: 30px;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.what a:hover{
	background-color: #f4f4f4;
	text-indent: 40px;
}
.what a:hover img{
	display: block;
}
#uemo{
	border: 0;
}
.what img{
	position: absolute;
	width: 6px;
	height: 8px;
	top: 20px;
	left: 145px;
	display: none;
}
#function img{
	top: 69px;
}
#copyright img{
	top: 119px;
}
.aboutus{
	width: 1200px;
	height: 255px;
	margin: 0 auto;
	border-bottom: 1px solid #d3d3d3;
}
.aboutus li{
	width: 1200px;
	list-style: none;
	text-align: center;
	font-size: 26px;
	padding-top: 135px;
}
.aboutus p{
	width: 1200px;
	text-align: center;
	font-size: 12px;
	color: #c1c1c1;
	padding-top: 15px;
}
.advantage{
	width: 1200px;
	height: 680px;
	margin: 0 auto;
	border-bottom: 1px solid #d3d3d3;
}
.advantage img{
	float: left;
	margin-top: 35px;
}
.advantage p{
	float: left;
	width: 660px;
	margin-left: 70px;
}
.our{
	font-size: 16px;
	font-weight: bolder;
	padding-top: 35px;
}
.pro{
	font-size: 14px;
	margin-top: 7px;
	color: #6a6a6a;
}
.company{
	font-size: 14px;
	color: #6a6a6a;
	margin-top: 35px;
}
.advantage span{
	font-weight: bolder;
	color: #000;
}
.who{
	width: 1200px;
	height: 940px;
	margin: 0 auto;
	border-bottom: 1px solid #d3d3d3;
}
.we{
	width: 100%;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
}
.are{
	width: 100%;
	text-align: center;
	font-size: 14px;
	margin-top: 7px;
	color: #6a6a6a;
}
.year{
	padding-top: 25px;
	padding-left: 60px;
}
.best{
	float: left;
	width: 18%;
	padding-top: 70px;
}
.who h3{
	font-size: 16px;
	padding-top: 70px;
	padding-left: 272px;
}
.china{
	font-size: 14px;
	padding-top: 30px;
	color: #6a6a6a;
	padding-left: 272px;
}
.case{
	padding-top: 8px;
}
.china span{
	font-weight: bolder;
	color: #000;
}
.who h4{
	font-size: 16px;
	clear: both;
	padding-top: 50px;
}
.champ{
	clear: both;
	padding-left: 0;
	padding-top: 25px;
	line-height: 25px;
}
.design{
	width: 1200px;
	height: 200px;
	margin: 0 auto;
	border-bottom: 1px solid #d3d3d3;
}
.design h3{
	font-size: 16px;
	padding-top: 25px;
}
.design p{
	padding-top: 5px;
	padding-left: 0;
}
p:first-of-type{
	padding-top: 35px;
}
.other{
	width: 1200px;
	height: 930px;
	margin: 0 auto;
}
.other h3{
	font-size: 16px;
	padding-top: 25px;
}
.start{
	font-size: 14px;
	color: #6a6a6a;
	padding-left: 0;
	padding-top: 0;
}
.last{
	font-size: 14px;
	color: #6a6a6a;
	padding-top: 80px;
}
.last a{
	text-decoration: none;
	color: #00C0FF;
}
.last a:hover{
	text-decoration: underline;
}
.txt{
	padding-top: 30px;
}
.big{
	padding-top: 70px;
}
.bottom{
	width: 100%;
	height: 60px;
	margin-top: 100px;
	background-color: #17171a;
}
.bottom p{
	width: 100%;
	text-align: center;
	line-height: 60px;
	padding-top: 0;
}
.qq{
	position: fixed;
	width: 70px;
	height: 70px;
	background-image: url(../images/qq.jpg);
	right: 15px;
	top: 50%;
	border-radius: 3px;
}
.weibo{
	position: fixed;
	width: 30px;
	height: 30px;
	background-image: url(../images/weibo.jpg);
	right: 0;
	bottom: 110px;
}
.phone{
	position: fixed;
	width: 30px;
	height: 30px;
	background-image: url(../images/phone.jpg);
	right: 0;
	bottom: 80px;
}
#back{
	position: fixed;
	width: 30px;
	height: 30px;
	background-image: url(../images/top.jpg);
	right: 0;
	bottom: 40px;
	display: none;
}